.gameprev-heading{
    display: flex; 
    font-weight: 900;
    font-size: 50px;
}
.gameprev-heading h1{
    color: #FFA800;
}
.gameprev-heading h2{
    color:#353535;
}
.gameprev-item{
    width: 300px;
    height:300px;
    font-weight: 800;
    border: 1px solid #ddd;
    background: #A6A6A6;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
}
.gameprev-item img{
    border-radius: 30px;
}