/* home-wrapper-2 */


.slider{
    background-color: rgba(255, 255, 255, 0.647);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-left: 5vw;
    border-radius: 10px;
}
.slider-home{
    background-color: #FFC700;
    padding-left: 30vw;
    padding-right: 30vw;
    margin-bottom: 4vw;
}
.his-desc{
    display: flex;
    flex-direction: column;
    width: 50%;
    @media screen and (max-width:1000px) {
        width: 90%;
        margin-top: -30vw;
    }
}
.his-desc h1{
    font-family: myFont;
    display: flex;
    font-size: 11vw;
    color: white;
    justify-content: end;
    @media screen and (max-width:1000px) {
        justify-content: center;
    }
}
.his-desc h2{
    font-family: "Montserrat", sans-serif;
    display: flex;
    font-size: 4vw;
    color: rgb(230, 104, 0);
    font-weight: 900;
    justify-content: end;
    @media screen and (max-width:1000px) {
        justify-content: center;
    }
}
.his-desc p{
    display: flex;
    justify-content: end;
    text-align: end;
    font-size: 2vw;
    font-weight: 800;
    @media screen and (max-width:1000px) {
        justify-content: center;
        text-align: center;
        font-size: 4vw;
    }
}
.history-image{
    font-family: "Kumbh Sans", sans-serif;
}
.history-mask{
    margin-bottom: -20vw;
}
.historyimage{
    width: 50%;
    @media screen and (max-width:1000px) {
        width: 90%;
    }
}
.history-page{
    background: radial-gradient(42.38% 44.19% at 50.14% 67.33%, #FFF280 0%, #FFC700 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    padding-bottom: 50px;
    padding-right: 5vw;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 85%);
    @media screen and (max-width:1000px) {
        padding-right: 0vw;
        padding-bottom: 30vw;
    }
}
.history-container{
    display: flex;
    @media screen and (max-width:1000px) {
        flex-direction: column;
        align-items: center;
    }
}