.merch{
    width: 50%;
    margin: auto;
    @media screen and (max-width:1000px) {
        width:80%;
    }
}
.background-image{
    border-radius: 20px;
    position: absolute;
    
}
.front-image{
    border-radius: 20px;
    position: relative;

}