.path-vision{
    position: absolute;
    margin-top: -350px;
}
.path-vision-image{
  @media screen and (max-width:1000px) {
    margin-top: 30vw;
  }
}
.path-vision-mask{
  margin-bottom: -45vw;
}
.path-desc{
  margin:auto auto;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 20vh;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  @media screen and (max-width:1000px) {
    font-size: 3vw;
    padding-top: 18vh;
  }
}
.join{
    margin-top: 20px;
    color: #FFA800;
}