.project-vision{
    background: radial-gradient(42.38% 44.19% at 50.14% 67.33%, #FFF280 0%, #FFC700 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    clip-path: polygon(0% 20%, 100% 0, 100% 100%, 0 100%);
    padding-top: 400px;
    margin-top: 500px;
    z-index: -1;
    position: relative;
}
.project-vision-image{
    position: absolute;
    padding-left: 5vw;
    padding-right: 5vw;
}
.project-vision p{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 25px;
    margin-top: 100px;
    padding-bottom: 100px;
    font-weight: 700;
    text-align: center;
}

.vis-heading{
    font-family: myFont;
    color: #FFA800;
    font-size: 18vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.road-head{
    font-family: myFont;
    color: white;
    font-size: 18vh;
    display: flex;
    margin-top: 50px;
}