@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .custom-scrollbar::-webkit-scrollbar{
        width: 4px;
        
    }
    .custom-scrollbar::-webkit-scrollbar-track{
        background:transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb{
        background-color: #fcd6a5;
        width: 5px;
        border-top-right-radius: 20px;
    }
    .custom-scrollbar::-webkit-scrollbar-track-piece{
        margin-top: 17px;
    }
    .custom-scrollbar-dark::-webkit-scrollbar-thumb{
        background-color: #312e81;
    }
}